@import "tailwindcss";

@layer utilities {
  .animate-slide-up {
    animation: slide-up 30s linear infinite;
    will-change: transform;
  }
  .animate-slide-down {
    animation: slide-down 30s linear infinite;
    will-change: transform;
  }

  @keyframes slide-up {
    0% { transform: translateY(0); }
    100% { transform: translateY(-50%); }
  }

  @keyframes slide-down {
    0% { transform: translateY(-50%); }
    100% { transform: translateY(0); }
  }
}